# PostgreSQL の管理者ユーザー postgres のパスワード
POSTGRES_PASSWORD=change_me

# pg_dumpall の 7z 暗号化に使うパスワード
ZIP_PASSWORD=change_me

# CodeDefiner / Pleasanter が PostgreSQL 管理者で接続するための接続文字列
Implem.Pleasanter_Rds_PostgreSQL_SaConnectionString=Server=postgres-db;Database=postgres;UID=postgres;PWD=change_me

# CodeDefiner / Pleasanter が Owner ユーザーで接続するための接続文字列
Implem.Pleasanter_Rds_PostgreSQL_OwnerConnectionString=Server=postgres-db;Database=#ServiceName#;UID=#ServiceName#_Owner;PWD=change_me

# CodeDefiner / Pleasanter が User ユーザーで接続するための接続文字列
Implem.Pleasanter_Rds_PostgreSQL_UserConnectionString=Server=postgres-db;Database=#ServiceName#;UID=#ServiceName#_User;PWD=change_me
