# 毎日0時15分にバックアップを行う
15 0 * * * flock --timeout=600 /tmp/db_backup.lock /var/backup_sh/pg_dumpall.sh
# 30分に1回ごとにインクリメンタルバック
*/30 * * * * flock --timeout=300 /tmp/db_backup.lock /var/backup_sh/pg_rman.sh INCREMENTAL
# 1日1回ごとにベースインクリメンタルバック
15 23 * * * flock --timeout=300 /tmp/db_backup.lock /var/backup_sh/pg_rman.sh FULL
# DBメンテナンスを行う
45 22 * * * flock --timeout=300 /tmp/db_backup.lock /var/backup_sh/db_maintenance.sh
# Syslogデータの払い出しを行う
#00 22 * * * flock --timeout=300 /tmp/db_backup.lock /var/backup_sh/syslogs_maintenance/syslogs_maintenance.sh
